body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav #navChat {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#map {
  flex: 2;
  height: calc(100vh - 3rem);
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #app {
    flex-direction: column;
  }
  #map {
    margin: 0 1rem;
    height: 75vh;
  }
}

#interactive-map {
  position: fixed;
  bottom: 50px;
  z-index: -10;
}

#send-location-button {
  bottom: 0px;
  right: 40px;
  margin: 15px;
  position: fixed;
}

#chat-container {
  background-color: white;
  width: 50vw;
}

.dropdown {
  position: relative;
  z-index: 10;
}

.svg-icon {
  width: 3em;
  height: 3em;
  transform: translate(-1.5em, -1.5em);
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 3;
}
